/.vs
/Kinect/packages
/Kinect/.vs
/Kinect/x64
/Kinect/dnn_model_2_0.onnx
/Kinect/Kinect.txt
/Nuitrack/.vs
/Nuitrack/x64
/Nuitrack/Nuitrack.txt
/TCMR/.vs
/Kinect/Debug
/Pruebas
/Nuitrack/Nuitrack.xls
/Kinect/Kinect.csv
